<%= simple_form_for(@track, html: { class: 'form-horizontal' }) do |f| %>
  <% if @track.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h2><%= pluralize(track.errors.count, "error") %> prohibited this track from being saved:</h2>

      <ul>
      <% @track.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.input :title %>
  <%= f.input :release %>
  <%= f.input :description %>
  <%= f.input :download %>
  <%= f.input :embed %>
  <%= f.input :album %>
  <%= f.input :artist %>
  <%= f.button :submit, class: 'btn btn-sm btn-primary' %>
  
<% end %>
