<% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

<p>
  <strong>Title:</strong>
  <%= @track.title %>
</p>

<p>
  <strong>Release:</strong>
  <%= @track.release %>
</p>

<p>
  <strong>Description:</strong>
  <%= @track.description %>
</p>

<p>
  <strong>Download:</strong>
  <%= @track.download %>
</p>

<p>
  <strong>Embed:</strong>
  <%= @track.embed.html_safe %>
</p>

<p>
  <strong>Album:</strong>
  <%= @albums.find(@track.album_id).title %>
</p>

<p>
  <strong>User:</strong>
  <%= User.find(@albums.find(@track.album_id).user_id).username %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @track.artist %>
</p>

<%= link_to 'Edit', edit_track_path(@track) %> |
<%= link_to 'Back', tracks_path %>
