<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @album.title %>
</p>

<p>
  <strong>Release:</strong>
  <%= @album.release %>
</p>

<p>
  <strong>Producer:</strong>
  <%= @album.producer %>
</p>
<p>
  <strong>User:</strong>
  <%= User.find(@album.user_id).username %>
  
</p>

<%= link_to 'Edit', edit_album_path(@album), class: 'btn btn-info btn-sm' %>  
<%= link_to 'Back', albums_path, class: 'btn btn-info btn-sm' %>
